<table class="table" id="table1">
	<thead>
		<tr>
			<th width="5%">No.</th>
			<th>Nama Jabatan</th>
			<th width="15%">Aksi</th>
		</tr>
	</thead>
	<tbody>
		<% for(let i = 0 ; i < positions.length; i++ ) {%>
		<tr>
			<td><%= i+1 %></td>
			<td><%= positions[i].name %></td>
			<td>
				<a
					href="/<%= current%>/<%= positions[i]._id %>/edit"
					class="btn btn-warning btn-sm"
					>Edit</a
				>
				<form
					action="/<%= current%>/delete/<%= positions[i]._id %>?_method=DELETE"
					method="POST"
				></form>
				<button class="btn btn-sm btn-danger mt-1 ml-1 btn-delete">
					Hapus
				</button>
			</td>
		</tr>
		<%}%>
	</tbody>
</table>
