<div class="page-heading">
	<h3><%-type%> <%-title%></h3>
</div>
<div class="page-content">
	<section class="row">
		<div class="col-12 col-lg-12">
			<div class="row">
				<div class="col-6">
					<div class="card">
						<div class="card-body">
							<form
								class="form form-vertical"
								action="<%- action %>"
								method="POST"
							>
								<input
									type="hidden"
									name="id"
									value="<% if (typeof grade != 'undefined') { %> <%= grade._id %> <% } %>"
								/>
								<div class="form-body">
									<div class="row">
										<div class="col-12">
											<div class="form-group">
												<label for="first-name-vertical">Nama Pangkat</label>
												<input
													type="text"
													class="form-control"
													name="name"
													value="<% if (typeof grade != 'undefined') { %> <%= grade.name %> <% } %>"
													required
													placeholder="Nama Pangkat"
												/>
											</div>
										</div>
										<div class="col-12 d-flex justify-content-end">
											<button type="submit" class="btn btn-primary me-1 mb-1">
												Simpan
											</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
